html, body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
            }
body {
    font-family: 'Merriweather', serif;
}

.content {
    white-space: nowrap; /* 禁止换行 */
    text-align: center;
    text-decoration: none;
}

.content span {
    white-space: normal; /* 允许换行 */
    display: block; /* 使每个文本块独占一行 */
    margin-bottom: 5px; /* 设置段落之间的间距 */
    text-align: center;
}

.content:hover{
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto 1fr;
}
    
.brand {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color:#fff;
    padding: 10px; /*new line*/
    font-size: 30px; /*new line*/
    font-weight:bold;/*new line*/
    color: #000/*new line*/
}
    
.brand > img {
    width: 250px;
}
            
.page-links {
    grid-column: 3 / span 2;
    grid-row: 1;
    text-align: right;
    background-color:#fff;
    padding: 10px;/*new line*/
}
    
.menu-button {
    font-size: 18px;
    color: white;
    background-color: #EA0A0A;
    padding: 20px 30px;
    border-style: initial;
    border-radius: 200px/100px;
    border-color: white;
    text-decoration: none;
}

.menu-button:hover{
    text-decoration: underline;
}

.home_splash{
    width: 100%; /* 设置图片宽度为100%，即与父容器同宽 */
    height: 60vh; /* 让高度按照宽度比例自动调整 */
    object-fit: cover;
    display: block;
}

.main {
    grid-column: 1 / -1;
    grid-row: 2;
    width: 75vw;
    background-color: #EA0A0A;
    margin: 0 auto;

}

.linkstyle{
    margin: 20px;
    padding: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Paytone One', sans-serif;
    color: white;
    text-decoration: none;
}

.linkstyle:hover{
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 1355px;
    height: 100px;
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
}