.community-splash{
    grid-column: 1 / -1;
    grid-row: 2;
    width: 100%;
    background-image: url("../media/slide2.jpg");
    background-size: cover;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    
}

.community-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA0A0A;
    width: 200px;
    height: 200px;
    color: white;
    padding: 20px;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-container h2 {
    margin-bottom: 10px;
}

.comment-form {
    width: 1000px;
    margin-top: 20px;
    text-align: left; /* 将整体左对齐 */
    display: flex;
    flex-direction: column; /* 垂直方向排列 */
    align-items: flex-start; /* 元素左对齐 */
}

.comment-form label {
    margin-bottom: 5px;
    text-align: left;
}

.comment-form input {
    width: 100%; /* 将 "Username" 输入框宽度设为 100% */
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.comment-form textarea {
    width: 100%; /* 将 "Comment" 输入框宽度设为 100% */
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    height: 150px; /* 指定 "Comment" 输入框的高度 */
}

.comment-form button {
    background-color: #EA0A0A;
    color: white;
    padding: 10px 15px;
    border-color: black;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end; /* 将按钮右对齐 */
}

.comment-form button:hover {
    background-color: #EA0A0A;
}